
/* 导航栏相关样式 */
.header{
    width: 100%;
    padding: 1rem 2rem;
    background-size:cover;
    height: 4.6rem;
    z-index: 30;
    display: flex;
    justify-content: center;
    background-color:rgba(0,0,0);
}

.header-enditCenter{
    width: 80rem;
    display: flex;
    justify-content: space-between;
}
 
.header-logo{
    float: left;
    height: 2.5rem;
    width: 9.5rem;
    /* background-image: url('/static/images/page_header.jpg'); */
    background-repeat: no-repeat;
    background-position: bottom;
}


.header-logo .text{
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-family: mc;
}

.menus_items{
    float: right;
    height: 2.5rem;
    line-height: 2.5rem;
    min-width: 25rem;
}

.menus_item{
    float: left;
    margin-left: 1.2rem;
    text-shadow: 0.05rem 0.05rem 0.1rem rgba(0,0,0,0.3);
    font-size: 1rem;
    cursor: pointer;
}

.menus_item a{
    display: block;
    height: 100%;
    padding: 0 8px;
}

/** 设置滚动之后导航栏信息 START **/
.header-scrolled {
    position: fixed;
    background: #26282c;
    box-shadow: 0 0 4px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
}   

.header .menus_item:hover a, .header .menus_item .router-link-exact-active{
    color: #f2b535;
    border-bottom: 4px solid #f2b535;
    background: #30313375;
}

.header .menus_item:hover a:not(.router-link-exact-active){
    border-bottom: 0px;
}

.header-logo-scrolled{
    background-image: none;
}

/** 设置滚动之后导航栏信息 END **/


