/*列表页*/
#main{
  /* margin: 0.5rem 3.2rem 0; */
  color: #666;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0); */
  display: flex;
  justify-content: center;
  margin-top: 10px;
  min-width: 65%;
  #left{
    min-width: calc(100% - 22rem);
    .article-list{
      box-sizing: border-box;
      height: calc(100vh - 8.6rem - 32px);
      overflow-y: auto;
      box-shadow: 5px 5px 10px #888;
      margin-right: 20px;
      padding: 10px 10px 10px 66px;
      .article{
        background-color: #000000d9;
        box-shadow: -3px 5px 5px #888888;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        transition: all .3s ease;
        margin-bottom: 20px;
        padding: 5px 10px;
        box-sizing: border-box;
        position: relative;
        width: 35rem;
        height: 15rem;
        .dateTag{
          position: absolute;
          text-align: center;
          transform: translate(-100%,0);
          left: 0px;
          width: 56px;
          height: 85px;
          border: 1px solid #ccc;
          background-color: #00000061;
          span{
            display: block;
            font-family: Comic Sans MS,Microsoft YaHei,Arial,Helvetica,sans-serif;
            font-size: 16px;
            color: #638B60;
          }
          .day{
            font-size: 24px;
            color: #435717;
          }
        };
        .article-title{
          font-size: 20px;
          line-height: 36px;
          color: #f6a101;
          font-family: 微软雅黑;
          font-weight: normal;
          text-indent: 4px;
          text-align: center;
          text-align: center;
          text-shadow: 2px 2px 3px #222222;
          margin: 0;
          padding: 0;
        }
        .article-label-list{
          background: #befdcc2e;
          line-height: 2rem;
          overflow: hidden;
          position: relative;
          border-top: 3px solid #b0aeb0;
          border-radius: 4px;
          font-size: 12px;
          /* 控制缩放比例 只限部分浏览器 */
          zoom: 1;
          /* margin-bottom: 1rem; */
          display: flex;
          justify-content: flex-start;
          padding: 0 1rem;
          box-sizing: content-box;
          .article-label{
            display: flex;
            justify-content: flex-start;
            padding-right: 10px;
            dd{
              padding: 2px 10px;
            }
          }
        }
      }
    }
  }

  #right{
    width: 17rem;
    height: calc(100vh - 8.6rem - 32px);
    background: #3cb6e617;
    overflow-y: auto;
    box-shadow: 5px 5px 10px #888;
    padding: 10px;
    .right-item{
      border: 1px solid #888;
      padding: 5px 10px;
      box-shadow: -3px 4px 5px #888888;
      border-radius: 5px;
      margin: 0 10px 15px;
      background-color: #000000d9;
      .right-item-content {
        display: flex;
        flex-wrap: wrap;
      }
      dd,dl {
        margin: 0;
        padding: 0;
      }
      dd{
        box-sizing: border-box;
        width: 100%;
        height: 2rem;
        line-height: 2rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 10px;
        border-bottom: 2px solid;
        text-shadow: 1px 1px 3px #222222;
        color: darkorange;
      }
      dl{
        box-sizing: border-box;
        max-width: 10rem;
        min-width: 6rem;
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        a{
          letter-spacing: 1px;
          color: #369;
          font-size: 14px;
          word-spacing: 3px;
          font-family: Comic Sans MS, Microsoft YaHei, Arial, Helvetica, sans-serif;
          display: inline-block;
          width: 100%;
          height: 28px;
          line-height: 28px;
          padding-left: 20px;
          text-align: left;
        }
        a:hover {
          background-color: #2f2f2f96;
          color: yellow;
        }
      }
      .rightPanel-active {
        background-color: #2f2f2f96;
        color: yellow !important;
      }
    }
  }
}

/*详情页*/
#detail{
  color: blanchedalmond;
  overflow-y: scroll;
  min-height: 100vh;
  .bg{
    background: url('/static/images/personal/boy.png') top center no-repeat;
    background-size: cover;
    background-size: cover;
    width: 100%;
    height: 20rem;
  }
  .main{
    height: calc(100vh - 8.6rem - 20px);
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

    .catalog{
      background-color: #ecf5ff1a;
      width: 360px;
      height: 100%;
      border: 1px solid #232323;
      padding-top: 20px;
      padding-left: 10px;
      text-align: left;
      max-height: 600px;
      overflow: scroll;
      border-radius: 6px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .article {
      background-color: rgba(76, 43, 226, 0.5);
      width: 100%;
      height: 100%;
      overflow: scroll;
      padding: 20px;
      border: 1px solid #232323;
      .lineDescription{
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        li{
          list-style-type: none;
          /* float: left; */
          display: inline-block;
        }
        .type,
        .tag{
          display: inline-block;
        }
      }
      .sidebar{
        /* background-color: yellowgreen; */
        background-color: #ecf5ff1a;
        width: 360px;
        height: 100%;
        overflow: hidden;
        padding: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid #232323;
        position: relative;
        .blogComment{
          max-height: calc(100% - 67px);
          height: calc(100% - 67px);
          h4 {
            padding: 0 auto;
            margin: 0 0 10px;
          }
          .commentContents{
            overflow: auto;
            max-height: 100%;
            .commentContents::-webkit-scrollbar {
              display: none;
            }
            .commentContent{
              .activeClass {
                background-color: rgba(0, 0, 0, 0.5);
                color: yellowgreen;
              }
              .innerComment {
                padding-left: 20px;
              }
              .header {
                display: flex;
                .userName {
                  display: inline-block;
                  height: 30px;
                  line-height: 30px;
                  margin-left: 15px;
                }
                .comment-img {
                  border-radius: 15px;
                }
              }
              .content {
                text-align: left;
                padding: 5px 5px 5px 30px;
              }
            }
          }
        }
        .publishComment {
          position: absolute;
          bottom: 0;
          left: 2px;
          right: 2px;
          display: flex;
          justify-content: space-between;
          textarea {
            resize: none;
          }
        }
      }
    }
  }

}
