.search .el-input-group {
  box-sizing: border-box;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
.el-tree {
  position: relative;
  cursor: default;
  background-color: #000000d9;
  color: #606266;
  padding: 10px 40px;
}

.search .el-input__inner{
  background: #000000d9 !important;
} 

.search .el-button{
  background-color:  #000000d9 !important;
} 
.el-tree-node__content:hover {
  background-color: #e6a23c24 !important;
}
.el-tree-node.is-current > .el-tree-node__content{
  background-color: #e6a23c24 !important;
}


